<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pojects</title>
  </head>
  <body>
    {% extends 'layouts/base.html' %} {% block content %}
    <h2>Projects</h2>
    {% for project in projects %}
    <div class="card">
      <h3><a href="{% url 'project_detail' project.id %}">{{project.name}}</a></h3>
    </div>
    {% endfor %} {% endblock %}
  </body>
</html>
