<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    {% extends 'layouts/base.html' %} {% block content %}
    <h2>About</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla error
      voluptates corrupti maxime autem quibusdam inventore, a magnam laboriosam
      voluptatem tempora, quia iste, saepe consequatur sapiente quas nihil.
      Repellendus deleniti dolore sapiente sequi non nisi praesentium? Minima
      esse necessitatibus voluptatibus, omnis libero quam reiciendis repellendus
      consequuntur adipisci a! Nulla aspernatur unde vel magni ea beatae
      pariatur earum est officiis cupiditate in excepturi, sed sit numquam
      officia soluta mollitia ipsum, aut porro? Ducimus illo, repudiandae iure
      asperiores omnis laudantium aspernatur voluptatum ea minus voluptatem,
      mollitia dolore ullam fuga eius sequi esse aliquam error. Obcaecati quas
      debitis voluptates aliquid nisi, earum dolorum?
    </p>
    <p>Website created by {{username}}</p>
    {% endblock %}
  </body>
</html>
